.table-account {
  .ant-table-row:hover {
    cursor: pointer;
  }

  .unblock {
    color: #52c41a !important;
    background-color: transparent !important;

    &:hover {
      color: darken(#52c41a, 50%) !important;
    }
  }

  .block {
    color: #f5222d !important;
    background-color: transparent !important;

    &:hover {
      color: darken(#f5222d, 50%) !important;
    }
  }

  .ant-tag {
    margin: 3px !important;
  }
}

.pagination-custom {
  text-align: center;
  margin-top: 30px;
}
